<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Enregistrer salarie</title>
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" href="../static/css/custom/myAddSalarieStyle.css" th:href="@{/css/custom/myAddSalarieStyle.css}" />
<style type="text/css">
@media (min-width: 1536px) { 
	.content_min_height{
		min-height: 622px;
	}
}

@media (min-width: 1922px) { 
	.content_min_height{
		min-height: 837px;
	}
}

</style>
</head>
<body>
	
	<!-- Debut Menu -->
	<div th:if="${session.agent.isRH()}">
		<div th:replace="fragments/adminMenu :: salarie-view-header (${session.agent.getLogin()})"></div>
	</div>
	<!-- Fin Menu -->
		
	<!-- Debut Contenu -->
	<div class="container-fluid content_min_height">
	<!-- Debut Enregistrement Salarie -->
	<div th:if="${session.agent.isRH()}">
		<div th:replace="fragments/addSalarieForm :: updateSalarieForm"></div>
	</div>	
	<!-- Fin Enregistrement Salarie -->
	</div>
	
	<div class="clearfix"></div>
	
	<!-- Debut footer -->
	<div th:replace="fragments/headerFooter :: common-footer"></div>
	<!-- Fin footer -->
	
	<!-- jQuery 1.12.4 -->
    <script src="../static/js/custom/jquery.min.js" th:src="@{/js/custom/jquery.min.js}"></script>
    <script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    
</body>
</html>