<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Salariés</title>
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" href="../static/css/custom/myHomeStyle.css" th:href="@{/css/custom/myHomeStyle.css}" />
<style type="text/css">
@media (min-width: 1536px) { 
	.content_min_height{
		min-height: 622px;
	}
}

@media (min-width: 1922px) { 
	.content_min_height{
		min-height: 837px;
	}
}
</style>
</head>
<body>
	
	<!-- Debut Menu -->
	<div th:if="${session.agent.isRH()}">
		<div th:replace="fragments/adminMenu :: salarie-view-header (${session.agent.getLogin()})"></div>
	</div>
	<!-- Fin Menu -->
	
	<!-- Debut Contenu -->
	<div class="container content_min_height">
		<div class="panel panel-default" style="box-shadow: 1px 2px 50px rgba(0, 0, 0, 0.05);">
			<div class="table-responsive">
				<table class="table table-striped">
					<thead class="panel-heading">
						<tr>
							<th>Nom</th>
							<th>Prenom</th>
							<th>Poste</th>
							<th>Numero Sécu</th>
							<th>Numero Tél</th>
							<th>Date Embauche</th>
							<th>Email</th>
							<th>Modifier</th>
							<th>Supprimer</th>
							<th>Notes de Frais</th>
						</tr>
					</thead>
					<tbody class="panel-body">
						<tr th:each="s:${pageSalaries.content}">
							<td th:text="${s.nom}"></td>
							<td th:text="${s.prenom}"></td>
							<td th:text="${s.poste}"></td>
							<td th:text="${s.numeroSecuriteSociale}"></td>
							<td th:text="${s.numeroTel}"></td>
							<td th:text="${s.dateEmbauche}"></td>
							<td th:text="${s.login}"></td>
							
							<td><a th:href="@{EditSalarie(id=${s.id})}">Editer</a></td>
							<td><a th:href="@{DeleteSalarie(id=${s.id})}">Supprimer</a></td>
							<td><a th:href="@{NotedeFrais(id=${s.id})}">Note de frais</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="container">
			<ul class="nav nav-pills">
				<li th:each="p:${pages}" th:class="${p==pageCourante}?active:''">
					<a th:text="${p}" th:href="@{ViewSalarie(page=${p})}"></a>
				</li>
			</ul>
		</div>
	</div>
	<!-- fin Contenu -->	
	
	<div class="clearfix"></div>
	
	<!-- Debut footer -->
	<div th:replace="fragments/headerFooter :: common-footer"></div>
	<!-- Fin footer -->
	
	<!-- jQuery 1.12.4 -->
    <script src="../static/js/custom/jquery.min.js" th:src="@{/js/custom/jquery.min.js}"></script>
    <script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
	
</body>
</html>